extends layout

block content
  h1= "Nuevo Alquiler"
  form(id="newRent" method="post" action="/rent/new")
    label Dias de alquiler
    input(type="number" name="days")
    br
    label Selecciona vehiculo
    br
    select(name="car")
      each car in cars
        option(value="/api/cars/"+car.id)=car.brand+" "+car.model
    br
    label Selecciona Cliente
    br
    select(name="client")
      each client in clients
        option(value="/api/clients/"+client.id)=client.name+" "+client.surname
    br
    br
    input(type="submit")



