extends layout

block content
  h1= "Lista de Alquileres"
  table(style='width:100%' border='1')
    th Dias
    th Coche
    th Cliente
    th Precio
    th Opciones
    each rent in rents
      tr
        td=rent.price/rent.car.price
        td=rent.car.brand
        td=rent.client.name
        td=rent.price
        td
          a(href=`/rent/delete/${rent._id}`) Borrar Alquiler